.cell {
    position: absolute;
    border-radius: 30px;
    text-align: center;

   /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */
    font-family: 'Retro Display', 'Press Start 2P', 'VT323', monospace;
    font-size: 60px;
    font-weight: 100;
}

body {
    background-color: #243236;
}
